fastapi
uvicorn
python-multipart
pillow
cloudinary
pymysql
sqlalchemy
requests
python-jose[cryptography]  # Pour JWT si nécessaire
passlib[bcrypt]  # Pour le hashage si nécessaire
email-validator  # Pour valider les emails
phonenumbers  # Pour valider les numéros de téléphone
